.table {
    border-collapse:collapse;
    border:1px solid #000;
    margin:10px;
}

.tableHeader {
    text-align:center;
    background-color:#B5B5B5;
    border-bottom:1px solid #000;
    padding:2px;
}

.tableRowOdd {
    text-align:center;
    background:#FFF;
}

.tableRowEven {
    text-align:center;
    background-color:#D3D3D3;
}

tfoot{
    text-align: center;
    border-top: 1px solid #000;
}

.footerBtn{
    margin-right:5px;
    margin-left:5px;
}
